<template>
    <div class="full-portrait">
        <img src="https://res.cloudinary.com/bogadeji/image/upload/v1610074143/serious-naked-ethnic-curly-young-woman-colored-background_23-2148183345_wzzmgi.jpg" alt="portrait" />
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>